/* This is your custom CSS file */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #d8d4d4;
}

li, a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.logo {
    cursor: pointer;
    width: 15%;
}


.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 15px;
}

.nav__buttons a {
    padding: 0 15px;
}

.headline {
    margin: 50px 100px;
}


.head {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text {
    padding: 10px;
}


.para {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.opinions {
    margin: 100px 100px;
}

.opinion {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.op {
    margin: 0 auto;
}


.card {
    width: 300px;
    height: 600px;
    margin: 0 auto;
}

.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}

.footer_links   {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    text-align: center;
}