body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #d8d4d4;
}

li, a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.logo {
    cursor: pointer;
    width: 30%;
}


.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 15px;
}

.nav__buttons a {
    padding: 0 15px;
}

.headline {
    margin: 50px 100px;
}

.headline__top {
    display: flex;
}

hr {
    width: 85%;
    height: 3px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    padding: 10px;
}


.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}

.footer__links   {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    text-align: center;
}
